{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div id="container">
      <div id="preivew">
        <img src="" alt="" id="image" />
      </div>
      <ul id="results"></ul>
      <input type="file" name="input" id="input" />
      <label for="input" id="upload">upload photo</label>
      <button id="identify">Identify</button>
      <button id="reset">Reset</button>
      <div id="progress">Please Wait...</div>
    </div>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
